@media (max-width: 1200px) {
  .container {
    width: 960px;
  }

  .logo {
    width: 150px;
  }

  .nav {
    gap: 50px;
  }

  .nav-menu {
    gap: 35px;
  }

  .nav-item {
    font-size: 16px;

    &:last-child {
      margin-left: 155px;
    }
  }
}

@media (max-width: 992px) {
  .container {
    width: 720px;
  }

  .hamburger-wrapper {
    display: block;
    width: 30px;
    right: 0;
  }

  .top-line {
    padding-top: 10px;
    height: 85px;
  }

  .nav-desktop {
    display: none;
  }

  .top-line__contacts {
    left: 0;
    top: 50%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 540px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}
