@import "vars";
@import "fonts";
@import "libs";

* {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: $font-color;
  text-decoration: none;
}

button {
  border: none;
}

body {
  font-family: Montserrat, serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: $font-color;
  background-color: blue;
}

.container {
  position: relative;
  width: 1140px;
  height: 100%;
  margin: 0 auto;
}

.header {
  position: relative;
}

.top-line {
  height: 110px;
  padding-top: 35px;
  background-color: #fff;
}

.logo-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.nav {
  display: flex;
  gap: 140px;
  align-items: center;
  padding-top: 32px;
}

.nav-menu {
  display: flex;
  gap: 70px;
  align-items: flex-end;
  width: 100%;
}

.nav-item {
  font-weight: 500;
  text-transform: uppercase;

  &:last-child {
    margin-left: 155px;
  }
}

.btn {
  font-family: Montserrat, serif;
  font-weight: 500;
  padding: 10px 55px;
}

.btn-orange {
  border-radius: 20px;
  background-color: $orange;
}

.btn-call {
  font-size: 14px;
}

.top-line__contacts {
  position: absolute;
  display: flex;
  gap: 35px;
  top: 0;
  right: 0;
}

.top-line__email .fa-envelope {
  color: $orange;
}

.top-line__email-text {
  font-weight: 600;
}

.top-line__socials {
  display: flex;
  color: $orange;

  .fa-instagram {
    font-size: 23px;
    line-height: 21px;
  }
}

.top-line__fb {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border: 2px solid $orange;
  border-radius: 2px;
  vertical-align: middle;

  i {
    position: absolute;
    bottom: -1px;
    right: 2px;
    font-size: 14px;
  }
}

.hamburger-wrapper {
  z-index: 100;
  position: absolute;
  display: none;
  bottom: -10px;
  height: 40px;

  &.active {
    .hamburger {
      transform: rotate(-45deg);

      &:before {
        transform: rotate(90deg);
        top: 0;
      }

      &:after {
        display: none;
      }
    }
  }
}

.hamburger {
  position: absolute;
  left: 0;
  width: 30px;
  height: 4px;
  border-radius: 5px;
  background-color: $orange;
  transition: all 0.3s;

  &:before,
  &:after {
    position: absolute;
    content: "";
    width: 30px;
    height: 4px;
    border-radius: 5px;
    background-color: $orange;
  }

  &:before {
    top: -10px;
    left: 0;
    transition: all 0.3s;
  }

  &:after {
    top: 10px;
    left: 0;
  }
}

@import "media";
