@import "vars";
@import "fonts";
@import "libs";

* {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: $font-color;
  text-decoration: none;
}

button {
  border: none;
}

input {
  width: 275px;
  margin-right: 10px;
  padding: 15px 35px;
  border: none;
  border-radius: 2px;
}

body {
  font-family: Montserrat, serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: $font-color;
}

.container {
  position: relative;
  width: 1140px;
  height: 100%;
  margin: 0 auto;
}

.header {
  height: 100vh;
  background-image: url(../images/header-bg.webp);
  background-size: cover;

  background-size: cover;
  background-repeat: no-repeat;
}

.top-line {
  position: relative;
  height: 110px;
  padding-top: 35px;
  background-color: #fff;
}

.logo-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.nav {
  display: flex;
  gap: 140px;
  align-items: center;
  padding-top: 32px;
}

.nav-menu {
  display: flex;
  gap: 70px;
  align-items: flex-end;
  width: 100%;
}

.nav-item {
  font-weight: 500;
  text-transform: uppercase;

  &:last-child {
    margin-left: 155px;
  }
}

.nav-mobile {
  z-index: 10;
  position: absolute;
  display: block;
  width: 320px;
  height: 100vh;
  padding-top: 80px;
  background-color: #fff;

  .nav-menu {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .nav-item {
    margin: 0;
  }

  .top-line__contacts {
    display: none;
  }
}

.btn {
  padding: 25px 95px;
  border-radius: 8px;
  font-size: 30px;
  font-weight: 300;
  font-family: Qanelas, serif;
}

.btn-orange {
  border-bottom-left-radius: 100px 100%;
  border-top-left-radius: 100px 100%;
  border-bottom-right-radius: 100px 100%;
  border-top-right-radius: 100px 100%;
  background-color: $orange;
}

.btn-yellow {
  border-radius: 8px;
  font-weight: 300;
  background-color: $yellow;
}

.btn-call {
  font-family: Montserrat, serif;
  padding: 10px 55px;
  border-radius: 20px;
  font-size: 14px;
}

.top-line__contacts {
  position: absolute;
  display: flex;
  gap: 35px;
  top: 0;
  right: 0;
}

.top-line__email .fa-envelope {
  color: $orange;
}

.top-line__email-text {
  font-weight: 600;
}

.top-line__socials {
  display: flex;
  color: $orange;

  .fa-instagram {
    font-size: 23px;
    line-height: 21px;
  }
}

.top-line__fb {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border: 2px solid $orange;
  border-radius: 2px;
  vertical-align: middle;

  i {
    position: absolute;
    bottom: -1px;
    right: 2px;
    font-size: 14px;
  }
}

.hamburger-wrapper {
  z-index: 100;
  position: absolute;
  display: none;
  bottom: -10px;
  height: 40px;

  &.active {
    .hamburger {
      transform: rotate(-45deg);

      &:before {
        transform: rotate(90deg);
        top: 0;
      }

      &:after {
        display: none;
      }
    }
  }
}

.hamburger {
  position: absolute;
  left: 0;
  width: 30px;
  height: 4px;
  border-radius: 5px;
  background-color: $orange;
  transition: all 0.3s;

  &:before,
  &:after {
    position: absolute;
    content: "";
    width: 30px;
    height: 4px;
    border-radius: 5px;
    background-color: $orange;
  }

  &:before {
    top: -10px;
    left: 0;
    transition: all 0.3s;
  }

  &:after {
    top: 10px;
    left: 0;
  }
}

.header-desc {
  font-family: Qanelas, serif;
  margin-top: 200px;
  color: #fff;
  width: 60%;
}

.header-title {
  font-size: 64px;
  font-weight: 900;
}

.header-cite {
  width: 420px;
  font-size: 36px;
  font-weight: 900;
}

.header-author {
  font-size: 36px;
  font-weight: 300;
}

.about {
  padding-top: 70px;
  font-size: 24px;
  text-align: center;

  p {
    margin-bottom: 55px;
  }
}

.about-title {
  margin-top: 0;
  font-size: 72px;
}

.about-photos {
  display: grid;
  gap: 10px;
  grid-template-columns: 3fr 2fr 1fr 3fr;
  grid-template-rows: 3fr 3fr 3fr 3fr 1fr 3fr 3fr 5fr;
  height: 1895px;
  margin-top: 95px;
  margin-bottom: 20px;
}

.gallery-1 {
  background-image: url(../images/gallery-1.webp);
  background-size: cover;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.gallery-2 {
  background-image: url(../images/gallery-2.webp);
  background-size: cover;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.gallery-3 {
  background-image: url(../images/gallery-3.webp);
  background-size: cover;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.gallery-4 {
  background-image: url(../images/gallery-4.webp);
  background-size: cover;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}

.gallery-5 {
  background-image: url(../images/gallery-5.webp);
  background-size: cover;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.gallery-6 {
  background-image: url(../images/gallery-6.webp);
  background-size: cover;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

.gallery-7 {
  background-image: url(../images/gallery-7.webp);
  background-size: cover;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

.gallery-8 {
  background-image: url(../images/gallery-8.webp);
  background-size: cover;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

.gallery-9 {
  background-image: url(../images/gallery-9.webp);
  background-size: cover;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 8;
}

.gallery-10 {
  background-image: url(../images/gallery-10.webp);
  background-size: cover;
  background-position: 60%;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 8;
}

.gallery-11 {
  background-image: url(../images/gallery-11.webp);
  background-size: cover;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 9;
}

.gallery-12 {
  background-image: url(../images/gallery-12.webp);
  background-size: cover;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 8;
  grid-row-end: 9;
}

.help {
  text-align: center;
  padding-bottom: 40px;
}

.help-title,
.help-thanks {
  font-family: Qanelas, serif;
  font-size: 48px;
  font-weight: 900;
  color: $font-color-secondary;
}

.help-items {
  display: flex;
  gap: 50px;
  margin-bottom: 75px;
}

.help-item {
  display: flex;
  flex-direction: column;
  width: 365px;
}

.help-photo {
  margin-bottom: 40px;
}

.help-payment {
  display: flex;
  gap: 120px;
}

.payment-item {
  display: flex;
  align-items: center;
  width: 515px;
}

.payment-photo {
  margin-right: 45px;
}

.payment-title {
  margin-top: 0;
}

.payment-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

.payment-link {
  margin-bottom: 5px;

  img {
    width: 20px;
    vertical-align: middle;
    margin-right: 15px;
  }
}

.payment-owner {
  margin-top: 0;
  margin-left: 40px;
}

.callback {
  padding-top: 45px;
  padding-bottom: 45px;
  text-align: center;
  background-color: $font-color-secondary;
}

.callback-title {
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 700;
  color: #fff;
}

.callback-desc {
  margin-bottom: 35px;
  font-size: 14px;
}

.callback-desc {
  color: #fff;
}

form > div {
  position: relative;
  display: inline-block;

  i {
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 14px;
    color: $grey;
  }
}

.btn-submit {
  font-family: Montserrat, serif;
  padding: 15px 95px;
  border-radius: 2px;
  font-size: 13px;
  font-weight: 500;
  background-color: $yellow;
}

.footer {
  position: relative;
  height: 110px;
  background-color: #000;

  .top-line__contacts {
    top: 25px;
  }

  .top-line__email {
    color: #fff;
  }

  .logo-wrapper {
    top: -80px;
    bottom: auto;
  }

  .logo {
    width: 110px;
  }
}

@import "media";
